body{
    background-image: url(/static/image/home_background_3.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size:cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 0;
    margin: 0;
}
#center{
    background-color: rgba(255,255,255,0.05);
    backdrop-filter: blur(5px);
    width: 200px;
    border-radius: 10px;
    padding: 20px;
}
#center button{
    color: black;
    background-color:white;
    transition: background-color 0.3s ease;
    border: none;
    display: flex;
    margin-top: 10px;
    justify-items: center;
    align-items: center;
    margin-right: 6px;
    width: auto;
    height: auto;
    margin-right: 10px;
    border-radius: 60px;
}
#center button:hover{
    color:white;
    background-color:black;
}
#file {
    display: none;

}
label {
    color: white;
    width: min(300px, 90%);
    padding: 10px 20px;
    border-radius: 10px;
    margin-bottom: 12px;
    justify-content: center;
    text-align: center;
    background-color: lightgreen;
}